<div class="box-instagram">
    <div class="box-instagram__header">
        <div class="box-instagram__content">
            <svg class="box-instagram__icon">
                <use xlink:href="#z-instagram"></use>
            </svg>
            <div class="box-instagram__title">
                Siga & Compartilha
            </div>
            <a href="#" class="box-instagram__hash">
                #lojasrub
            </a>
            <a href="#" class="box-instagram__link">siga-nos no instagram</a>
        </div>
    </div>
    <div class="box-instagram__main">
        <a href="#">
            <img src="https://fakeimg.pl/225/" alt="" />
        </a>
        <a href="#">
            <img src="https://fakeimg.pl/225/" alt="" />
        </a>
        <a href="#">
            <img src="https://fakeimg.pl/225/" alt="" />
        </a>
        <a href="#">
            <img src="https://fakeimg.pl/225/" alt="" />
        </a>
    </div>
</div>
