<div class="category-menu-top">
    <div class="category-menu-top__container">
        <div class="category-menu-top__icons">
            <a href="">
                <span class="ico"><img src="@img(diamante)"/></span>
                <span class="text">Diamante</span>
            </a>
            <a href="">
                <span class="ico"><img src="@img(zirconia)"/></span>
                <span class="text">Zircônia</span>
            </a>
            <a href="">
                <span class="ico"><img src="@img(crystal)"/></span>
                <span class="text">Crystal</span>
            </a>
        </div>

        <div class="category-menu-top__mymenu">
            {{widget type="menubuilder/output" id="11" template="menubuilder/output.phtml"}}
        </div>
    </div>
</div>
