<div class="news-social">
    <div class="news-social__container">
        <div class="news">
            {{widget type="interface/widget_newsletter"
            template="interface/widgets/newsletter.phtml" identificador="news"
            texto="
            <h3 class="news__title">Newsletter</h3>
            <div class="news__description">
                Receba novidades e Promoções exclusivas
            </div>
            " label_email="E-mail:" placeholder_email="Seu E-mail"
            texto_botao="Enviar"}}
        </div>
        <div class="social">
            {{widget type="interface/widget_social" template="interface/widgets/social.phtml" identificador="social" titulo="redes sociais" redes="all"}}
        </div>
    </div>
</div>
