<div class="store-security">
    <div class="store">
        <div class="store__header">
            <div class="store__content">
                <svg class="store__icon">
                    <use xlink:href="#z-map"></use>
                </svg>
                <h4 class="store__description">Conheça</h4>
                <h3 class="store__title">
                    Nossas <br />
                    Lojas
                </h3>
            </div>
        </div>
        <div class="store__main">
            <div class="store__item">
                <a href="#"><img src="@img(store1)"/></a>
                <a href="#"><img src="@img(store2)"/></a>
                <a href="#"><img src="@img(store3)"/></a>
            </div>
            <div class="store__item">
                <a href="#"><img src="@img(store4)"/></a>
                <a href="#"><img src="@img(store5)"/></a>
                <a href="#"><img src="@img(store6)"/></a>
            </div>
        </div>
    </div>
    <div class="security">
        <div class="security__header">
            <div class="security__content">
                <h4 class="security__description">Qualidade</h4>
                <h3 class="security__title">Assegurada</h3>
                <div class="security__text">
                    Nossos produtos e nosso site são certificados pelas melhores
                    ferramentas do mercado e premiados pelos mais respeitados
                    analistas do Brasil.
                </div>
            </div>
        </div>
        <div class="security__main">
            {{widget type="interface/widget_seals" template="interface/widgets/seals.phtml" identificador="security" seals="all"}}
        </div>
    </div>
</div>
