color1_font = #FFFFFF
color1_font_hover = #FFFFFF
color1_bg = #464646
color1_bg_hover = #464646
color2_font = #FFFFFF
color2_font_hover = #FFFFFF
color2_bg = #b42828
color2_bg_hover = #b42828
color3_font = #FFFFFF
color3_font_hover = #FFFFFF
color3_bg = #CCCCCC
color3_bg_hover = #f7f7f7
button_font = #FFFFFF
button_font_hover = #FFFFFF
button_bg = #CA213E
button_bg_hover = #990000
