.banner
    img
        min-width: 100%
        object-fit: cover

    &#banner__regua-de-vantagens
        .slide__html
            justify-content: flex-start

    &-ruler
        font-size: 11px
        font-weight: reuglar
        text-transform: uppercase
        color: #464646

        &__title
            font-size: 16px

[id*=banner__home-banner-vitrine-]
    .banner
        img
            display: block

        &__wrapper
            column-count: 1
            padding: 5px 0

        &__item
            width: 100%
            padding: 0

@media (min-width: 993px)
    [id*=banner__home-banner-vitrine-]
        .banner
            &__wrapper
                display: flex
                padding: 10px 0

            &__item
                width: auto
                padding: 0

    .banner
        + .products
            margin-top: 50px

#banner__home-banner-vitrine-01
    margin-top: 0

    .banner
        &__wrapper
            padding-top: 0