@media (max-width: 992px)
    .categories
        width: 446px
        max-width: 100%

        &__show
            order: -1
            background: #fff
            color: color1_bg

            &:hover
                color: color1_bg
                background: #fff

        &__hide
            margin: 0
            height: 55px

            &:before
                icon('\f0c9')
                font-size: 20px

        .parent
            position: relative

            > ul
                display: none

            &:after
                content: ''

            > a
                display: flex
                min-height: 48px
                justify-content: flex-start
                align-items: center

            &:after
                icon('\f054')
                position: absolute
                top: 0
                right: 0
                z-index: 10
                display: flex
                justify-content: center
                align-items: center
                width: 48px
                height: 48px
                font-size: 20px
                background: none
                color: #fff
                transition: all 0.2s ease

            &.on
                &:after
                    transform: rotate(90deg)

                > ul
                    display: block

        .all-li--0
            padding-bottom: 0

        .all-a--0
            font-size: 13px
            font-weight: regular
            text-transform: uppercase

    .categories--mobi
        .ul--0
            display: block

            &:before
                content: 'Categorias'
                display: block
                padding: 32px 16px 16px
                font-size: 13px
                font-weight: regular
                text-transform: uppercase
                color: color2_bg
                border-top: solid 1px rgba(255, 255, 255, 0.05)

        .all-li--0
            box-shadow: 0 1px rgba(255, 255, 255, 0.05)

@media (min-width: 993px)
    .categories
        position: absolute
        top: 100%
        left: 0
        z-index: 10
        width: 100%
        background: #fff
        border-top: solid 1px #ececec
        border-bottom: solid 1px #ececec
        transform: translateY(0)
        transition: all 0.2s ease
        margin: 0 !important

        a
            img, svg
                max-height: 80px

        .box--1
            display: block
            width: 100%
            box-shadow: 800px 0 0 #fff, -800px 0 0 #fff, 0 1px 0 rgba(0, 0, 0, 0.05)

        .li--0
            position: static

            &:hover
                .a--0
                    background: #fff
                    color: color2_bg

        .li--1
            flex: 0 1 175px

        .scrolling--down:not(.scrolling--up) &
            transform: translateY(-60px)

        .icon-navicon
            font-size: 20px
            margin-right: 20px

        &__all
            a
                img, svg
                    display: none

            .a--0 span
                display: flex
                justify-content: center
                align-items: center

        &--justify
            .ul--0
                justify-content: space-between

            .li--0
                flex: 0 0 auto

        .ul--0
            position: static
            width: viewport
            max-width: 95%

        .ul--1
            display: flex
            justify-content: space-between
            flex-flow: row wrap
            width: viewport
            max-width: 95%
            margin: 0 auto
            padding: 20px 0
            overflow: visible !important

        .a--0
            display: flex
            justify-content: center
            align-items: center
            padding: 0 16px
            height: 50px
            font-size: 13px
            font-weight: regular
            text-transform: uppercase
            color: color1_bg

        .a--1, .all-a--0
            font-size: 13px
            font-weight: regular
            text-transform: uppercase
            text-align: center
            color: color1_bg

            span
                display: block
                max-width: 90px
                margin: 5px auto 0

        .a--1
            &:hover
                box-shadow: 0 0 4px rgba(#e7a34a, 25%)

        .all-a--0, .all-a--1
            text-align: center

            &:hover
                box-shadow: none
                color: color2_bg