.products
    + .products
        margin-top: 60px
        padding-top: 60px
        border-top: solid 1px #f5f5f5

    &__case
        box-shadow: none

    &__title
        font-size: 13px
        font-weight: medium
        text-transform: uppercase
        color: color1_bg

    &__name
        display: block
        font-size: 13px
        font-weight: medium
        text-transform: uppercase
        color: color1_bg
        margin-bottom: 15px

    &__main
        text-align: center
        margin-top: 15px

    .price-box
        display: flex
        justify-content: center
        align-items: center

    .owl
        &-next, &-prev
            display: flex
            justify-content: center
            align-items: center
            background: none
            box-shadow: none
            text-indent: 0

            &:before
                display: none

            svg
                width: 8px
                height: 15px
                fill: color1_bg
