.search
    .header &
        position: absolute
        top: 100%
        left: 0
        width: 100vw
        margin: 0
        background: #fff

    &__form
        border: solid 1px rgba(#464646, 10%)
        border-radius: 3px
        margin: 0 10px 10px

    &__input
        height: 30px !important
        line-height: 30px
        box-shadow: none
        border: 0 !important
        background: none !important

        &::placeholder
            font-size: 11px
            font-weight: regular
            text-transform: uppercase
            color: rgba(#464646, 40%)

    &__button
        display: flex
        justify-content: center
        align-items: center
        width: 30px
        height: 30px
        padding: 0
        box-shadow: none
        background: none !important

        .ico
            fill: color2_bg
            width: 12px
            height: 12px

        &:hover
            background: none !important

            .ico
                fill: color2_bg

@media (max-width: 992px)
    .search
        max-height: 42px
        transition: all 0.2s ease

        .scrolling--down:not(.scrolling--up) &
            max-height: 0
            overflow: hidden

@media (min-width: 993px)
    .search
        .header &
            flex: 1
            min-width: 0
            position: static
            width: auto
            max-width: 466px
            margin: 0 50px

        &__form
            margin: 0

        &__input
            height: 40px !important
            line-height: 40px

        &__button
            width: 40px
            height: 40px

            .ico
                width: 15px
                height: 15px