.toolbar, .breadcrumb, .category-title
    display: none

.catalog-category-view
    .sidebar
        display: none

.col-main
    > .category-image, > .category-description
        display: none

.category-header
    background: #f9f9f9
    margin: 0 -16px
    padding: 0 10px

    .category-description, .category-title
        display: block

    .category-image
        img
            width: 100%
            height: 100%
            object-fit: cover

    &__description
        padding: 40px 30px
        position: relative

        &:before
            content: ''
            position: absolute
            top: calc(100% - 30px)
            left: 0
            height: 2px
            background: color2_bg
            width: 70%

.category-description
    padding: 0
    background: none
    border: 0
    font-size: 13px
    font-weight: regular
    color: color1_bg

.category-title
    margin-bottom: 10px

    h1
        font: italic regular 36px / 1.2 font-two
        text-transform: lowercase
        margin-bottom: 0

.category-order
    text-align: center
    margin: 30px 0

    a
        display: inline-block
        padding: 0 10px
        margin: 5px 0
        font-size: 13px
        font-weight: medium
        text-transform: uppercase
        color: #666666
        line-height: 1

        + a
            border-left: solid 1px #b4b4b4

        &:hover
            color: color2_bg

    &__container
        border-top: solid 1px #ececec
        border-bottom: solid 1px #ececec
        padding: 20px 0

.category-menu-top
    &__icons
        text-align: center
        display: flex
        justify-content: space-between

        a
            display: block

        .text
            display: block
            padding-top: 10px
            font-size: 13px
            font-weight: 400
            text-transform: uppercase

    .mymenu
        padding: 10px 0

        .li--0
            margin-bottom: 5px

        .a--0
            display: flex
            justify-content: flex-start
            align-items: center
            height: 25px
            padding-left: 15px
            font-size: 13px
            font-weight: regular
            text-transform: uppercase
            color: color1_bg
            background: #f9f9f9

            &:hover
                background: color1_bg
                color: #fff

@media (min-width: 768px)
    .category-menu-top
        &__icons
            flex: 0 0 360px

        &__container
            display: flex
            justify-content: space-between

@media (min-width: 993px)
    .category-menu-top
        &__container
            width: viewport
            max-width: 95%
            margin: 0 auto

        .mymenu
            width: 320px

    .category-header
        &__container
            display: flex
            align-items: stretch
            width: viewport
            max-width: 95%
            margin: 0 auto

        .category-image
            flex: 0 0 25%

    .category-order
        &__container
            width: viewport
            max-width: 95%
            margin: 0 auto